<fieldset>
  <legend><%= t('gallery.admin_legend') %></legend>

  <%= render "layouts/errors", :target => @gallery %>

  <p>
    <%= f.label :title, t('activerecord.attributes.etabliocms_galleries/gallery.title'), :id => "gallery_title_label" %>
    <%= f.text_field :title, :class => 'text-field' %>
  </p>

  <p>
    <%= f.label :text, t('activerecord.attributes.etabliocms_galleries/gallery.text'), :id => "gallery_text_label" %>
    <%= f.textile_text_area :text %>
  </p>

    <p>
    <%= f.label :attachable_temp, t('activerecord.attributes.etabliocms_galleries/gallery.attachable_temp'), :id => "gallery_text_label" %>
    <%= f.select :attachable_temp,
                 EtabliocmsGalleries::Gallery.attachables_for_select,
                 {:selected => "#{@gallery.attachable_type}##{@gallery.attachable_id}",:include_blank => true }%>
  </p>

  <p>
    <%= f.label :visible, t('activerecord.attributes.etabliocms_galleries/gallery.visible'), :id => "page_visible_label" %>
    <%= f.boolean_yes_no_select :visible %>
  </p>

</fieldset>

<fieldset>

  <legend><%= t('pictures.admin_legend') %></legend>
  <table id="pictures-table" class="nested-fields-table">
    <thead>
    <tr>
      <th style="width:15px;"><%= t('admin.order') %></th>
      <th><%= t('activerecord.attributes.etabliocms_galleries/picture.thumbnail') %></th>
      <th><%= t('activerecord.attributes.etabliocms_galleries/picture.title') %></th>
      <th><%= t('activerecord.attributes.etabliocms_galleries/picture.data') %></th>
      <th><%= t('admin.actions') %></th>
    </tr>
    </thead>

    <tbody id="pictures">
    <%= f.fields_for :pictures do |builder| %>
        <%= render :partial => "picture_fields", :locals => {:builder => builder} %>
    <% end %>
    </tbody>
  </table>

  <%= link_to_add_fields(t('pictures.add'), f, :pictures, '#pictures', :class => 'text-icon icon-add') %>

</fieldset>

<fieldset>

  <p class="submit-box">
    <%= submit_tag t('admin.save'), :class => 'submit' %>
    <span class="or"><%= t('admin.or') %></span>
    <%= submit_tag t('admin.save_and_continue'), :class => 'submit', :name => "save_and_continue" %>
  </p>

</fieldset>

<% unless @gallery.new_record? %>
    <script>
        $(document).ready(function() {
            $('#pictures').sortable({
                axis: 'y',
                dropOnEmpty: false,
                handle: '.handle',
                cursor: 'hand',
                items: 'tr',
                opacity: 0.4,
                scroll: true,
                update: function() {
                    $.ajax({
                        type: 'post',
                        data: $('#pictures').sortable('serialize'),
                        dataType: 'script',
                        complete: function(request) {
                            $('#pictures').effect('highlight');
                        },
                        url: '<%= sort_pictures_admin_gallery_path(@gallery.id) %>'})
                }
            });
        });
    </script>

<% end %>
